/* Reset
-------------------------------------------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {display: block;}
html {font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
a:focus {outline: thin dotted #333;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
a:hover,a:active {outline: 0;}
img {max-width: 100%;vertical-align: middle;border: 0;-ms-interpolation-mode: bicubic;}

.clearfix {*zoom: 1;}
.clearfix:before,.clearfix:after {display: table;content: "";}
.clearfix:after {clear: both;}


/* Body and globals
-------------------------------------------------- */
body {
  margin: 0;
  /*font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif;*/
  font-family: "freight-text-pro-1","freight-text-pro-2",sans-serif;
  font-size: 22px;
  line-height: 1.65em;
  color: #4f4f4f;
  background-color: #ffffff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

a {
  /*color: #00A551;*/
  color:#b99a54;
  font-weight:normal;
  /*border-bottom: solid 2px #00A551;*/
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

a:hover {
  /*color: #4f4f4f;*/
  color:#000000;
  text-decoration: none;
  /*border-bottom: solid 2px #4f4f4f;*/
}

a.link_white {
  color:#fff;
  text-decoration: none;
  border-bottom: solid 2px #fff;
  /*border-bottom:2px #ffffff solid;*/
}

a:hover.link_white {
  color:#000;
  text-decoration: none;
  border-bottom: solid 2px #000;
  /*border-bottom:2px #4f4f4f solid;*/
}


strong {font-weight: bold;}
em {font-style: italic;}

.shadow {
  -moz-box-shadow:    0 0 10px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
  box-shadow:         0 0 10px 0 rgba(0,0,0,.3);
}

/* The grid
-------------------------------------------------- */
.container {padding-right: 0;padding-left: 0;width:90%;max-width:70em;margin:0 auto;*zoom: 1;}
.container:before,.container:after {display: table;content: "";}
.container:after {clear: both;}

.row {width: 100%;*zoom: 1;}
.row:before,.row:after {display: table;content: "";}
.row:after {clear: both;}

.row [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 28px;
  margin-left: 2.127659574%;
  /**margin-left: 2.0744680846382977%;*/
  padding:0 2%; 
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.row [class*="span"]:first-child {margin-left: 0;}

.row .span6 {width: 99.99999998999999%;}
.row .span4 {width: 65.51724137931035%%;}
.row .span3 {width: 48.93617020799999%;}
.row .span2 {width: 31.914893614%;}


/* Typography
-------------------------------------------------- */
p {margin: 0 0 2em 0;}

h1,h2,h3,h4,h5,h6 {
  font-family: "proxima-nova-1","proxima-nova-2",sans-serif;
  margin: 0;
  font-family: inherit;
  font-weight: 100;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 {font-size: 2em;line-height: 1.25em; text-transform: uppercase; letter-spacing: 0.15em; }
h1:after {
  content: "";
  display: block;
  /*width: 1.95em;*/
  margin: 0.25em auto 1em auto;
  /*height: 20px;*/
  /*background: url(../img/zig-zag-v2.png) top;*/
  /*background-size: 15px 20px;*/
  width: 2em;
  height: 1px;
  background: #ccc;
}

h2 {font-size: 2em;line-height: 1.25em; text-transform: uppercase; letter-spacing: 0.15em;}
h2:after {
  content: "";
  display: block;
  /*width: 1.95em;*/
  margin: 0.25em auto 1em auto;
  /*height: 20px;*/
  /*background: url(../img/zig-zag-v2.png) top;*/
  /*background-size: 15px 20px;*/
  width: 2.5em;
  height: 1px;
  background: #ccc;
}
h3 {font-size: 1.5em;line-height: 1.25em; padding-bottom:1em; text-align:center; }
h4 {
  font-size: 0.75em;
  line-height: 1.25em;
  text-transform: uppercase;
  padding-top:1em; 
  letter-spacing: 0.15em;
  width:100%;
  max-width:600px;
  display: block;
  margin:0 auto 1em auto;
  padding:0 0 5px 0;
  text-align: left;
  border-bottom:1px solid rgba(255,255,255,.3);
}
/*h4:after {
  content: "";
  display: block;
  margin: 0.25em 0 1em 0;
  width: 2.5em;
  height: 1px;
  background: rgba(255,255,255,.3);
}*/


/* header
-------------------------------------------------- */
.header {
  background: whiteSmoke;
  /*background:#00A551;*/
  /*background: #eee url(/wp-content/themes/andrewlohman.com-v2-theme/img/header-bg.jpg) no-repeat center center fixed;*/
  /*width:95%;*/
  text-align:center;
  margin:6em auto 0em auto;
  padding:0;

  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/

  /*background-color: #62B6E8;*/
  /*background-image: url(images/linear_bg_1.png);*/
  /*background-repeat: repeat-y;
  background: -webkit-gradient(linear, left top, right top, from(#62B6E8), to(#589E86));
  background: -webkit-linear-gradient(left, #62B6E8, #589E86);
  background: -moz-linear-gradient(left, #62B6E8, #589E86);
  background: -ms-linear-gradient(left, #62B6E8, #589E86);
  background: -o-linear-gradient(left, #62B6E8, #589E86);*/
}

img.header-shape  {
  max-width:800px;
}

.logo {
  left:25%;
  /*opacity: 0;*/
  margin-top:-50px;
  margin-right:-25%;
  position: fixed;
  width:50%;
  display:block;
  z-index: 2;
  /*background:pink;*/
}

.logo img {
  display: block;
  width:100px;
  padding:0em;
  margin:1em auto 0 auto;
}

.intro {
  opacity: 1;
  width:100%;
  display:block;
  margin:4em auto 2em auto;
  padding:3em 0;
  position:relative;
  z-index:99;
  /*background:red;*/
  /*border: solid 12px #fff;*/
}

.intro p {
  width:100%;
  max-width: 600px;
  display: block;
  margin:0 auto 2em auto;
}

/* about me
-------------------------------------------------- */
.about-container {
  background:whiteSmoke;
}

.about-me {
  /*width:95%;*/
  /*background:whiteSmoke;*/
  margin:0 auto;
  padding:8em 0 4em 0;
  overflow:hidden;
  position:relative;
  z-index:3;
  color:#4F4F4F;
}
.about-me h2 {
  text-align:center;
}
.about-me h3 {
  text-align:center;
  text-transform: uppercase; letter-spacing: 0.15em;
}

.about-me p {
  text-align:left;
}

.me-content {
  padding:1em 0;
}

.me-content h1 {
  border-top:#4f4f4f solid 0.10em;
  border-bottom:#4f4f4f solid 0.10em;
  margin-bottom:2em;
}

/* projects
-------------------------------------------------- */

.plus {
  width: 35px !important;
  height: 35px;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
}

.plus:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
}

.rotate {
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;

    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
            transform: rotate(135deg);
               /* IE6–IE9 */
               filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand');
                 zoom: 1;
    }

/* hide projects*/
.project {display:none;}

/* project links*/
[class*=project] a { color:#fff;border-bottom: solid 1px #fff;}
[class*=project] a:hover { color:#000;border-bottom: solid 1px #000;}

/* featured projects*/
.featured-project-ac {background: #3C4E57;color:#fff;}
.featured-project-eatdrink {background: #dc3b3b;color:#fff;}
.featured-project-nosh {background: #339999;color:#fff;}
.featured-project-justthings {background: #425863;color:#fff;}

[class*=featured-project] {
  z-index:3;
  position: relative;
  width:100%;
  text-align:center;
  margin:0 auto 0 auto;
  padding:2em 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

[class*=featured-project] p {
  width:100%;
  max-width:600px;
  display: block;
  margin:0 auto 2em auto;
  text-align: left;
}

.sec-img-size {
  max-width: 900px;
  width:100%;
}

/*[id*=click] p { 
  text-align: center;
 }*/

.title-projects {
  background:#fff;
  width:100%;
  text-align:center;
  padding:3em 0 1em 0;
  margin:0 auto;
  display:block;
  overflow:hidden;
  position: relative;
  z-index:3;
  text-align: center;
}



.projects {
  background:#fff;
  width:100%;
  text-align:center;
  padding:0 0 3em 0;
  margin:0 auto;
  display:block;
  overflow:hidden;
  position: relative;
  z-index:3;
  text-align: center;
}

.title-projects h3 {
  /*font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif;*/
  font-family: "freight-text-pro-1","freight-text-pro-2",sans-serif;
  width:90%;
  font-weight: normal;
  display:block;
  margin:0 auto;
}

.feature-examples {
  width:85%;
  opacity: 1;
  clear:both;
  padding:0;
  overflow:hidden;
  display:block;
  margin:0 auto;
}

.feature-examples img {
  width:100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.feature-examples a img {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;

  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  /*border:#fff solid 1px;*/

  /*-webkit-box-shadow: 0px 0px 12px 3px #eee;
     -moz-box-shadow: 0px 0px 12px 3px #eee;
          box-shadow: 0px 0px 12px 3px #eee;*/
}

.feature-examples a:hover img {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  /*border:#eeeeee solid 1px;*/
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/*.feature-examples ul {
  background:green;
  display: block;
  overflow:hidden;
}*/

li.shot-list {
  display: inline;
  /*opacity: 0;*/
  background:#fff;
  position: relative;
  /*background: red;*/
  width: 33.333%;
  /*height: 12em;*/
  float:left;
  padding:2%;
  /*margin-bottom: 2em;*/
  /*padding:0 0em;*/
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;

  /*-webkit-mask-image: url(http://andrewlohman.com/wp-content/themes/andrewlohman.com-v2-theme/img/diamond-shape.png);
  -o-mask-image: url(http://andrewlohman.com/wp-content/themes/andrewlohman.com-v2-theme/img/diamond-shape.png);
  -moz-mask-image: url(http://andrewlohman.com/wp-content/themes/andrewlohman.com-v2-theme/img/diamond-shape.png);
  -ms-mask-image: url(http://andrewlohman.com/wp-content/themes/andrewlohman.com-v2-theme/img/diamond-shape.png);
  mask-image: url(http://andrewlohman.com/wp-content/themes/andrewlohman.com-v2-theme/img/diamond-shape.png);*/

  /*-webkit-mask-size: cover;
  -o-mask-size: cover;
  -moz-mask-size: cover;
  -ms-mask-size: cover;
  mask-size: cover;*/
}

/*li.shot-list:nth-child(4), li.shot-list:nth-child(9){
  margin:0em 0% 1em 16.766%;
  background:red;

}
li.shot-list:nth-child(5), li.shot-list:nth-child(10) {
  margin:0em 15.666% 1em 0%;
  background:blue;
}*/

/*.feature-examples li:nth-child(6n+6) {
  clear:both;
}*/

/* Flickr */
/*.flickr_badge_image {margin:0px;display:inline;}
.flickr_badge_image a img {
  border: 0px solid #666666 !important; 
  width:20% !important; 
  height:20% !important; 
  padding:0px; 
  margin:0px; 
  filter: alpha(opacity=60);
  opacity: 0.6;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;

  -webkit-mask-image: url(http://andrewlohman.com/wp-content/themes/andrewlohman.com-v2-theme/img/diamond-shape-2.png);
  -o-mask-image: url(http://andrewlohman.com/wp-content/themes/andrewlohman.com-v2-theme/img/diamond-shape-2.png);
  -moz-mask-image: url(http://andrewlohman.com/wp-content/themes/andrewlohman.com-v2-theme/img/diamond-shape-2.png);
  -ms-mask-image: url(http://andrewlohman.com/wp-content/themes/andrewlohman.com-v2-theme/img/diamond-shape-2.png);
  mask-image: url(http://andrewlohman.com/wp-content/themes/andrewlohman.com-v2-theme/img/diamond-shape-2.png);

  -webkit-mask-size: cover;
  -o-mask-size: cover;
  -moz-mask-size: cover;
  -ms-mask-size: cover;
  mask-size: cover;
}*/

/*#flickr_badge_wrapper {width:100%;text-align:center; margin-bottom:4em;}
.flickr_badge_image a:hover img  {filter: alpha(opacity=100);opacity: 1;}*/


/* footer
-------------------------------------------------- */
.footer {
  /*width:95%;*/
  background:#4f4f4f;
  overflow:hidden;
  text-align:center;
  margin:0 auto;
  padding:4em 0;
  color:#ffffff;
  position:relative;
  z-index:100;
}
/*.footer a {color:#00A551; font-weight:normal;}
.footer a:hover {color:#fff;}*/

.footer h2 {color:#ffffff;}

.footer h2:after {
  content: "";
  display: block;
  /*width: 1.95em;*/
  margin: 0.5em auto 1em auto;
  /*height: 20px;*/
  /*background: url(../img/zig-zag-dark.png) top;*/
  /*background: #7D7D7D;*/
  width: 2.5em;
  height: 1px;
  background: #7D7D7D;
}

.footer p {margin: 0 0 0em 0;}

ul.footer-list {
  padding:0;
  position: relative;
  z-index: 100;
  padding-bottom:3em;
}

ul.footer-list li {
  display:inline;
  padding:0 0 0 0;
}

ul.footer-list li.footer-list-item:after {
  content: "/";
  /*display: block;*/
  color: #7D7D7D;
  font-size:1em;
  padding:0 1em 0 1em;
}

/* Lists
-------------------------------------------------- */
ul,ol {padding: 0;margin: 0 0;}
ul ul,ul ol,ol ol,ol ul {margin-bottom: 0;}
ul {list-style: none;}
/*ol {list-style: decimal;}*/
li {line-height: 18px;}
ul.unstyled,ol.unstyled {margin-left: 0;list-style: none;}
dl {margin-bottom: 18px;}
dt,dd {line-height: 18px;}
dt {font-weight: bold;line-height: 17px;}
dd {margin-left: 9px;}

/* Blockquote
-------------------------------------------------- */
blockquote {padding: 0 0 0 15px;margin: 0 0 18px;border-left: 5px solid #eeeeee;}
blockquote p {margin-bottom: 0;font-size: 16px;font-weight: 300;line-height: 22.5px;}

/* Media queries
-------------------------------------------------- */



@media (max-width: 767px) {


  .logo {margin-top: -70px;}
  .row {width: 100%;}
  
  [class*="span"], .row [class*="span"] {
    display: block;
    float: none;
    width: auto;
    margin-left: 0;
  }
  /*h1 {font-size: 1.65em;}
  h1:after {width: 2.95em;}*/
  h2 {font-size: 1.4em;}
  h2:after {width: 2.95em;}
  /*h3 {font-size: 1.15em;}*/
  h4 {padding-top:0.5em;}

  .header, .projects h3, .featured-project-ac, .featured-project-eatdrink, .featured-project-nosh, .featured-project-justthings, footer {width:100%;}

  /*.footer {width:100%; margin:0 auto 0 auto; padding:4em 0 2em 0;}*/
  /*.projects {padding:0em 0 3em 0;}*/
  .feature-examples {width:95%;}
  .feature-examples li {width: 50%;}
  /*.feature-examples li:nth-child(2n+2) {margin-right:0;}*/
  /*.feature-examples a img {border:#E9E7DA solid 0.2em;}
  .feature-examples a:hover img {border:#E9E7DA solid 0.2em;}*/
  /*.about-me p {padding:0 2em;}*/
  ul.footer-list li.footer-list-item:after {padding:0 0 0 0.25em;}
}

@media (max-width: 480px) {
  .logo {margin-top: -67px;}
  body {font-size: 18px;/*line-height: 1.25em;*/}
  /*.intro {width:100%;;border: 0em; margin:6em auto;padding:1em 0em;}
  .intro p {width:100%;}*/
  /*.feature-examples li {width: 100%;float:left;margin-right:0%;}*/
  /*.about-me p {padding:0 0.5em;}*/
}



@media (min-width: 768px) and (max-width: 1199px) {
  .logo {margin-top: -70px;}
  .feature-examples li:nth-child(3n+3) {margin-right:0;}
}

@media (min-width: 1200px) {
  /*body {font-size: 125%;line-height: 1.8em;}*/
  .logo img {margin:0em auto 0 auto;}
  .feature-examples li:nth-child(3n+3) {margin-right:0;}

  /*.plus-ac, .plus-eatdrink, .plus-nosh, .plus-justthings {
    padding-top: 6px;
  }*/
}









/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: http://lemonwi.se co-founder

    */


.icon {
  font-family: FontAwesome;
  font-size: 2em;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  width:100%;
  /*background: pink;*/
  display: block;
  padding-bottom: 0.25em;
  z-index: 1000;
  color:#ccc;
  position: relative;
}

.white {
  color:#666;
}


@font-face {
  font-family: 'FontAwesome';
  src: url('/wp-content/themes/andrewlohman.com-v2-theme/font/fontawesome-webfont.eot');
  src: url('/wp-content/themes/andrewlohman.com-v2-theme/font/fontawesome-webfont.eot?#iefix') format('eot'), 
  url('/wp-content/themes/andrewlohman.com-v2-theme/font/fontawesome-webfont.woff') format('woff'), 
  url('/wp-content/themes/andrewlohman.com-v2-theme/font/fontawesome-webfont.ttf') format('truetype'), 
  url('/wp-content/themes/andrewlohman.com-v2-theme/font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.3333333333333333em;
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before                { content: "\f000"; }
.icon-music:before                { content: "\f001"; }
.icon-search:before               { content: "\f002"; }
.icon-envelope:before             { content: "\f003"; }
.icon-heart:before                { content: "\f004"; }
.icon-star:before                 { content: "\f005"; }
.icon-star-empty:before           { content: "\f006"; }
.icon-user:before                 { content: "\f007"; }
.icon-film:before                 { content: "\f008"; }
.icon-th-large:before             { content: "\f009"; }
.icon-th:before                   { content: "\f00a"; }
.icon-th-list:before              { content: "\f00b"; }
.icon-ok:before                   { content: "\f00c"; }
.icon-remove:before               { content: "\f00d"; }
.icon-zoom-in:before              { content: "\f00e"; }

.icon-zoom-out:before             { content: "\f010"; }
.icon-off:before                  { content: "\f011"; }
.icon-signal:before               { content: "\f012"; }
.icon-cog:before                  { content: "\f013"; }
.icon-trash:before                { content: "\f014"; }
.icon-home:before                 { content: "\f015"; }
.icon-file:before                 { content: "\f016"; }
.icon-time:before                 { content: "\f017"; }
.icon-road:before                 { content: "\f018"; }
.icon-download-alt:before         { content: "\f019"; }
.icon-download:before             { content: "\f01a"; }
.icon-upload:before               { content: "\f01b"; }
.icon-inbox:before                { content: "\f01c"; }
.icon-play-circle:before          { content: "\f01d"; }
.icon-repeat:before               { content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before              { content: "\f021"; }
.icon-list-alt:before             { content: "\f022"; }
.icon-lock:before                 { content: "\f023"; }
.icon-flag:before                 { content: "\f024"; }
.icon-headphones:before           { content: "\f025"; }
.icon-volume-off:before           { content: "\f026"; }
.icon-volume-down:before          { content: "\f027"; }
.icon-volume-up:before            { content: "\f028"; }
.icon-qrcode:before               { content: "\f029"; }
.icon-barcode:before              { content: "\f02a"; }
.icon-tag:before                  { content: "\f02b"; }
.icon-tags:before                 { content: "\f02c"; }
.icon-book:before                 { content: "\f02d"; }
.icon-bookmark:before             { content: "\f02e"; }
.icon-print:before                { content: "\f02f"; }

.icon-camera:before               { content: "\f030"; }
.icon-font:before                 { content: "\f031"; }
.icon-bold:before                 { content: "\f032"; }
.icon-italic:before               { content: "\f033"; }
.icon-text-height:before          { content: "\f034"; }
.icon-text-width:before           { content: "\f035"; }
.icon-align-left:before           { content: "\f036"; }
.icon-align-center:before         { content: "\f037"; }
.icon-align-right:before          { content: "\f038"; }
.icon-align-justify:before        { content: "\f039"; }
.icon-list:before                 { content: "\f03a"; }
.icon-indent-left:before          { content: "\f03b"; }
.icon-indent-right:before         { content: "\f03c"; }
.icon-facetime-video:before       { content: "\f03d"; }
.icon-picture:before              { content: "\f03e"; }

.icon-pencil:before               { content: "\f040"; }
.icon-map-marker:before           { content: "\f041"; }
.icon-adjust:before               { content: "\f042"; }
.icon-tint:before                 { content: "\f043"; }
.icon-edit:before                 { content: "\f044"; }
.icon-share:before                { content: "\f045"; }
.icon-check:before                { content: "\f046"; }
.icon-move:before                 { content: "\f047"; }
.icon-step-backward:before        { content: "\f048"; }
.icon-fast-backward:before        { content: "\f049"; }
.icon-backward:before             { content: "\f04a"; }
.icon-play:before                 { content: "\f04b"; }
.icon-pause:before                { content: "\f04c"; }
.icon-stop:before                 { content: "\f04d"; }
.icon-forward:before              { content: "\f04e"; }

.icon-fast-forward:before         { content: "\f050"; }
.icon-step-forward:before         { content: "\f051"; }
.icon-eject:before                { content: "\f052"; }
.icon-chevron-left:before         { content: "\f053"; }
.icon-chevron-right:before        { content: "\f054"; }
.icon-plus-sign:before            { content: "\f055"; }
.icon-minus-sign:before           { content: "\f056"; }
.icon-remove-sign:before          { content: "\f057"; }
.icon-ok-sign:before              { content: "\f058"; }
.icon-question-sign:before        { content: "\f059"; }
.icon-info-sign:before            { content: "\f05a"; }
.icon-screenshot:before           { content: "\f05b"; }
.icon-remove-circle:before        { content: "\f05c"; }
.icon-ok-circle:before            { content: "\f05d"; }
.icon-ban-circle:before           { content: "\f05e"; }

.icon-arrow-left:before           { content: "\f060"; }
.icon-arrow-right:before          { content: "\f061"; }
.icon-arrow-up:before             { content: "\f062"; }
.icon-arrow-down:before           { content: "\f063"; }
.icon-share-alt:before            { content: "\f064"; }
.icon-resize-full:before          { content: "\f065"; }
.icon-resize-small:before         { content: "\f066"; }
.icon-plus:before                 { content: "\f067"; }
.icon-minus:before                { content: "\f068"; }
.icon-asterisk:before             { content: "\f069"; }
.icon-exclamation-sign:before     { content: "\f06a"; }
.icon-gift:before                 { content: "\f06b"; }
.icon-leaf:before                 { content: "\f06c"; }
.icon-fire:before                 { content: "\f06d"; }
.icon-eye-open:before             { content: "\f06e"; }

.icon-eye-close:before            { content: "\f070"; }
.icon-warning-sign:before         { content: "\f071"; }
.icon-plane:before                { content: "\f072"; }
.icon-calendar:before             { content: "\f073"; }
.icon-random:before               { content: "\f074"; }
.icon-comment:before              { content: "\f075"; }
.icon-magnet:before               { content: "\f076"; }
.icon-chevron-up:before           { content: "\f077"; }
.icon-chevron-down:before         { content: "\f078"; }
.icon-retweet:before              { content: "\f079"; }
.icon-shopping-cart:before        { content: "\f07a"; }
.icon-folder-close:before         { content: "\f07b"; }
.icon-folder-open:before          { content: "\f07c"; }
.icon-resize-vertical:before      { content: "\f07d"; }
.icon-resize-horizontal:before    { content: "\f07e"; }

.icon-bar-chart:before            { content: "\f080"; }
.icon-twitter-sign:before         { content: "\f081"; }
.icon-facebook-sign:before        { content: "\f082"; }
.icon-camera-retro:before         { content: "\f083"; }
.icon-key:before                  { content: "\f084"; }
.icon-cogs:before                 { content: "\f085"; }
.icon-comments:before             { content: "\f086"; }
.icon-thumbs-up:before            { content: "\f087"; }
.icon-thumbs-down:before          { content: "\f088"; }
.icon-star-half:before            { content: "\f089"; }
.icon-heart-empty:before          { content: "\f08a"; }
.icon-signout:before              { content: "\f08b"; }
.icon-linkedin-sign:before        { content: "\f08c"; }
.icon-pushpin:before              { content: "\f08d"; }
.icon-external-link:before        { content: "\f08e"; }

.icon-signin:before               { content: "\f090"; }
.icon-trophy:before               { content: "\f091"; }
.icon-github-sign:before          { content: "\f092"; }
.icon-upload-alt:before           { content: "\f093"; }
.icon-lemon:before                { content: "\f094"; }
.icon-phone:before                { content: "\f095"; }
.icon-check-empty:before          { content: "\f096"; }
.icon-bookmark-empty:before       { content: "\f097"; }
.icon-phone-sign:before           { content: "\f098"; }
.icon-twitter:before              { content: "\f099"; }
.icon-facebook:before             { content: "\f09a"; }
.icon-github:before               { content: "\f09b"; }
.icon-unlock:before               { content: "\f09c"; }
.icon-credit-card:before          { content: "\f09d"; }
.icon-rss:before                  { content: "\f09e"; }

.icon-hdd:before                  { content: "\f0a0"; }
.icon-bullhorn:before             { content: "\f0a1"; }
.icon-bell:before                 { content: "\f0a2"; }
.icon-certificate:before          { content: "\f0a3"; }
.icon-hand-right:before           { content: "\f0a4"; }
.icon-hand-left:before            { content: "\f0a5"; }
.icon-hand-up:before              { content: "\f0a6"; }
.icon-hand-down:before            { content: "\f0a7"; }
.icon-circle-arrow-left:before    { content: "\f0a8"; }
.icon-circle-arrow-right:before   { content: "\f0a9"; }
.icon-circle-arrow-up:before      { content: "\f0aa"; }
.icon-circle-arrow-down:before    { content: "\f0ab"; }
.icon-globe:before                { content: "\f0ac"; }
.icon-wrench:before               { content: "\f0ad"; }
.icon-tasks:before                { content: "\f0ae"; }

.icon-filter:before               { content: "\f0b0"; }
.icon-briefcase:before            { content: "\f0b1"; }
.icon-fullscreen:before           { content: "\f0b2"; }

.icon-group:before                { content: "\f0c0"; }
.icon-link:before                 { content: "\f0c1"; }
.icon-cloud:before                { content: "\f0c2"; }
.icon-beaker:before               { content: "\f0c3"; }
.icon-cut:before                  { content: "\f0c4"; }
.icon-copy:before                 { content: "\f0c5"; }
.icon-paper-clip:before           { content: "\f0c6"; }
.icon-save:before                 { content: "\f0c7"; }
.icon-sign-blank:before           { content: "\f0c8"; }
.icon-reorder:before              { content: "\f0c9"; }
.icon-list-ul:before              { content: "\f0ca"; }
.icon-list-ol:before              { content: "\f0cb"; }
.icon-strikethrough:before        { content: "\f0cc"; }
.icon-underline:before            { content: "\f0cd"; }
.icon-table:before                { content: "\f0ce"; }

.icon-magic:before                { content: "\f0d0"; }
.icon-truck:before                { content: "\f0d1"; }
.icon-pinterest:before            { content: "\f0d2"; }
.icon-pinterest-sign:before       { content: "\f0d3"; }
.icon-google-plus-sign:before     { content: "\f0d4"; }
.icon-google-plus:before          { content: "\f0d5"; }
.icon-money:before                { content: "\f0d6"; }
.icon-caret-down:before           { content: "\f0d7"; }
.icon-caret-up:before             { content: "\f0d8"; }
.icon-caret-left:before           { content: "\f0d9"; }
.icon-caret-right:before          { content: "\f0da"; }
.icon-columns:before              { content: "\f0db"; }
.icon-sort:before                 { content: "\f0dc"; }
.icon-sort-down:before            { content: "\f0dd"; }
.icon-sort-up:before              { content: "\f0de"; }

.icon-envelope-alt:before         { content: "\f0e0"; }
.icon-linkedin:before             { content: "\f0e1"; }
.icon-undo:before                 { content: "\f0e2"; }
.icon-legal:before                { content: "\f0e3"; }
.icon-dashboard:before            { content: "\f0e4"; }
.icon-comment-alt:before          { content: "\f0e5"; }
.icon-comments-alt:before         { content: "\f0e6"; }
.icon-bolt:before                 { content: "\f0e7"; }
.icon-sitemap:before              { content: "\f0e8"; }
.icon-umbrella:before             { content: "\f0e9"; }
.icon-paste:before                { content: "\f0ea"; }

.icon-user-md:before              { content: "\f200"; }



