/* Reset
-------------------------------------------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {display: block;}
html {font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
a:focus {outline: thin dotted #333;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
a:hover,a:active {outline: 0;}
img {max-width: 100%;vertical-align: middle;border: 0;-ms-interpolation-mode: bicubic;}

.clearfix {*zoom: 1;}
.clearfix:before,.clearfix:after {display: table;content: "";}
.clearfix:after {clear: both;}

/*img {
  opacity: 0;
  transition: opacity .3s ease-in;
}*/

/* Body and globals
-------------------------------------------------- */
body {
  margin: 0;
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: Georgia, serif;*/
  font-family: 'tofino_personal_regularRg', sans-serif !important;
  font-size: 20px;
  line-height: 35px;
  /*letter-spacing: 0.2px;*/
  color: rgba(0,0,0,0.7);
  background-color: #ffffff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (max-width: 767px) {
  body {font-size: 16px;line-height: 26px;}
}
a {
  opacity:1;
  color: rgba(0,0,0,0.7);
  border-bottom: solid 2px #357edd;
  text-decoration: none;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
a:hover {
  opacity:0.5;
}

/* Fonts
-------------------------------------------------- */
/*@font-face {
    font-family: 'tofino_personalblack';
    src: url('../fonts/tofino-black-webfont.woff2') format('woff2'),
         url('../fonts/tofino-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
    font-family: 'tofino_personalbold';
    src: url('../fonts/tofino-bold-webfont.woff2') format('woff2'),
         url('../fonts/tofino-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tofino_personal_regularRg';
    src: url('../fonts/tofino-regular-webfont.woff2') format('woff2'),
         url('../fonts/tofino-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* The grid
-------------------------------------------------- */
.container {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  width:90%;
  max-width: 1360px;
  margin:auto;
  *zoom: 1;
  /*background: pink;*/
}
.container:before,.container:after {display: table; content: "";}
.container:after {clear: both;}

.row {
  width: 100%;
  *zoom: 1;
  /*background: plum;*/
  max-width: 700px;
  margin:0 auto 0 auto;
}
.row:before,.row:after {display: table;content: "";}
.row:after {clear: both;}

.row [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 28px;
  margin-left: 2.127659574%;
  padding:0 2%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.row [class*="span"]:first-child {margin-left: 0;}

.row .span6 {width: 99.99999998999999%;}
.row .span4 {width: 65.51724137931035%%;}
.row .span3 {width: 48.93617020799999%;}
.row .span2 {width: 31.914893614%;}

/* Button
-------------------------------------------------- */
a.button {
  color: #000000;
  font-family: 'tofino_personalbold', sans-serif !important;
  border: solid 2px #000000;
  padding:7px 25px 8px 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  opacity:1;
  /*letter-spacing: 2px;*/
  /*font-family:'Helvetica Neau', sans-serif !important;*/
  /*font-family: 'tofino_personal_regularRg', sans-serif !important;*/
}
a:hover.button{opacity:0.5;}

/* Typography
-------------------------------------------------- */
h1,h2,h3,h4,h5,h6 {
  font-size: 35px;
  line-height: 45px;
  font-family: 'tofino_personalbold', sans-serif !important;
  margin:0;
  font-weight: 700;
  color: #000000;
  text-rendering: optimizelegibility;
}
@media (max-width: 800px) {
  h1,h2,h3,h4,h5,h6 {
    font-size: 25px;
    line-height: 35px;
  }
}
@media (min-width: 1500px) {
  h1,h2,h3,h4,h5,h6 {
    font-size: 45px;
    line-height: 55px;
  }
}

p {margin: 0 0 40px 0;}

/* header
-------------------------------------------------- */
.header {
  background-color: #2B1E40;
  background-image:linear-gradient(-45deg, #000000, #2B1E40);
  background: -webkit-linear-gradient(-45deg, #000000, #2B1E40);
  background: -moz-linear-gradient(-45deg, #000000, #2B1E40);
  background: -ms-linear-gradient(-45deg, #000000, #2B1E40);
  background: -o-linear-gradient(-45deg, #000000, #2B1E40);
  text-align:left;
  margin:0 auto 0 auto;
  padding:0;
  height: 100vh;
  display: flex;
  color: #ffffff;
}
.header a {
  color: #ffffff;
  border-bottom: 2px solid #357edd;
}
.header h1 {
  color: #ffffff;
  padding: 40px 10%;
  width:50%;
}
@media (max-width: 960px) {
  .header h1 {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .header h1 {
    width:80%;
  }
}
.header p {
  color: rgba(255,255,255,0.5);
}

.header .nav {
  overflow: hidden;
  border-bottom: 8px solid rgba(255, 255, 255, 1);
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .header .nav {
    border-bottom: 4px solid rgba(255, 255, 255, 1);
  }
}
ul.header-list {
  text-align: left;
  font-size: 12px;
  line-height: 22px;
  width:100%;
  float:left;
  margin:20px 0;
  padding:0;
}
.header-list li {
  list-style: none;
  display: inline;
  padding-right: 20px;
}

.header .profile {
  position: absolute;
  z-index: 1;
  top:10%;
  right:10%;
  display: block;
  width:400px;
  height: 400px;
  background: url("../img/aj.jpg") right center;
  background-color: #2B1E40;
  background-blend-mode: multiply;
  background-size: 400px;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .header .profile {
    top:-5%;
    right:5%;
    width:250px;
    height: 250px;
    background-size: 250px;
  }
}

.header .row, h1 {
  position: relative;
  z-index: 2;
}


/* projects
-------------------------------------------------- */
.project-case {
  padding: 6em 0;
}
.project-case h3 {
  padding:40px 0 20px 0;
  font-size: 55px;
  line-height: 65px;
}
@media (max-width: 800px) {
  .project-case h3 {
    padding:20px 0 20px 0;
  }
}
.project-case ul {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin:0;
  padding:5px 0;
  font-family: 'tofino_personalbold', sans-serif !important;
  font-weight: 700;
  /*font-family:'Helvetica Neau', sans-serif !important;*/
}
.project-case ul li {
  list-style: none;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(0,0,0,0.5) !important;
  display: inline-block;
}

@media (max-width: 800px) {
  .project-case h3 {width:100%;}
  /*.project-case ul {text-align: left;float:left;width:100%;}*/
}

.project-case ul li.divider {
  color: rgba(0,0,0,0.1) !important;
}

/* about me
-------------------------------------------------- */
/*.about-container {background: #e7eff3;}*/
.about-me {padding: 6em 0;background:#e7eff3;}
.about-me h2 {
  font-size: 16px;
  line-height: 26px;
  padding: 40px 0;
  text-transform: uppercase;
  font-weight: 700;
  /*font-size: 2vw;*/
  /*color: #2B1E40;
  margin-bottom: 0.5em;*/
}

.about-me h3 {
  color: #2B1E40;
  padding-bottom: 40px;
  margin: 0 10%;
  font-size: 35px;
  line-height: 55px;
}
@media (max-width: 800px) {
  .about-me h3 {
    font-size: 25px;
    line-height: 35px;
  }
}
@media (max-width: 960px) {
  .about-me h3 {
    margin: 0;
    /*margin-bottom: 0.5em;*/
  }
}
@media (min-width: 1500px) {
  .about-me h3 {
    font-size: 45px;
    line-height: 65px;
  }
}

.about-me a {
  color: #2B1E40;
}
.about-me a:hover {
  opacity:0.5;
}



/* footer
-------------------------------------------------- */
.footer {
  background-color: #2B1E40;
  background-image:linear-gradient(-45deg, #000000, #2B1E40);
  background: -webkit-linear-gradient(-45deg, #000000, #2B1E40);
  background: -moz-linear-gradient(-45deg, #000000, #2B1E40);
  background: -ms-linear-gradient(-45deg, #000000, #2B1E40);
  background: -o-linear-gradient(-45deg, #000000, #2B1E40);
  /*text-align:center;
  margin:0 auto;*/
  padding:80px 0 80px 0;
  color:rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 26px;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}
.footer h2 {color:#ffffff;}
.footer p {margin: 0 0 0em 0;}
ul.footer-list {
  padding:0;
  position: relative;
  padding-bottom:20px;
}
ul.footer-list li {
  /*font-family:'Helvetica Neau', sans-serif !important;*/
  font-size: 12px;
  line-height: 22px;
  display:inline;
  padding:0 10px 0 0;
  text-transform: uppercase;
}
.footer a {
  opacity:1;
  color:#ffffff;
  border-bottom: solid 2px #357edd;
  font-weight:normal;
  text-decoration: none;
}
.footer a:hover {opacity:0.5;}

.footer .nav {
  overflow: hidden;
  border-top: 8px solid rgba(255, 255, 255, 1);
}
@media (max-width: 960px) {
  .footer .nav {
    border-top: 4px solid rgba(255, 255, 255, 1);
  }
}

/* Link colors
-------------------------------------------------- */
a.link-pc {opacity:1; color: #eea900; border-bottom: solid 2px #eea900;}
a:hover.link-pc {opacity:0.5;}

a.link-dell {opacity:1; color: #007db8; border-bottom: solid 2px #007db8;}
a:hover.link-dell {opacity:0.5;}

a.link-gm {opacity:1; color: #134a9c; border-bottom: solid 2px #134a9c;}
a:hover.link-gm {opacity:0.5;}

a.link-ebay {opacity:1; color: #06c; border-bottom: solid 2px #06c;}
a:hover.link-ebay {opacity:0.5;}

a.link-twitter {opacity:1; border-bottom: solid 2px #59adeb;}
a:hover.link-twitter {opacity:0.5;}

a.link-dribbble {opacity:1; border-bottom: solid 2px #ea4c89;}
a:hover.link-dribbble {opacity:0.5;}

a.link-github {opacity:1; border-bottom: solid 2px #4078c0;}
a:hover.link-github {opacity:0.5;}

a.link-instagram {opacity:1; border-bottom: solid 2px #E5405B;}
a:hover.link-instagram {opacity:0.5;}
