---
layout: default
---

<!-- form success messages -->
<div class="athlete-success" id="athlete-success">
  <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Success! Athlete has been added</p>
</div>

<!-- Manage Roster -->
<div class="roster-header">
  <div class="container-fluid">
    <div class="row">
      <!-- Manage Roster intro -->
      <div class="col-sm-6">
        <h1><a href="/hudl/manage-roster.html">Manage Roster</a></h1>
        <h2>Panthers' - Varsity Football</h2>
      </div>
      <!-- Add Athlete -->
      <div class="col-sm-6">
        <p class="pull-right">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-add-athlete">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Athlete
          </button>
          <div class="import-roster">
            <p><a href="#"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Import Roster</a> <span class="file-type">(Excel, CSV)</span></p>
            <p><a href="#"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Export Roster</a></p>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>


  {% include filter-options-depth-chart.html %}

<div class="container-fluid">

  <!-- Roster cards ALL -->

  <div class="row" id="depth-chart">
    <div class="col-xs-6">
      <h2>Depth Chart</h2>
    </div>
    <div class="col-xs-6">
      <p class="print-chart"><a href="#"><span class="glyphicon glyphicon-print"></span> Print depth chart</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h4>Offense</h4>
    </div>

    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-two.html %}
    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}

    <div class="col-sm-12">
      <h4>Defense</h4>
    </div>

    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}

    <div class="col-sm-12">
      <h4>Special Teams</h4>
    </div>

    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}
    {% include depth-chart-wr-one.html %}
    
  </div>

  

<!-- All modals -->
{% include modal-add-athlete.html %}
{% include modal-edit.html %}
{% include modal-disable.html %}
{% include modal-delete.html %}
  
