---
layout: default
---

<!-- form success messages -->
<div class="athlete-success" id="athlete-success">
  <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Success! Athlete has been added</p>
</div>

<!-- Manage Roster -->
<div class="roster-header">
  <div class="container-fluid">
    <div class="row">
      <!-- Manage Roster intro -->
      <div class="col-sm-6">
        <h1>Manage Roster</h1>
        <h2>Panthers' - Varsity Football</h2>
      </div>
      <!-- Add Athlete -->
      <div class="col-sm-6">
        <p class="pull-right">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-add-athlete">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Athlete
          </button>
          <div class="import-roster">
            <p><a href="#"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Import Roster</a> <span class="file-type">(Excel, CSV)</span></p>
            <p><a href="#"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Export Roster</a></p>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>


  {% include filter-options.html %}

<div class="container-fluid">

  <!-- Roster cards ALL -->
  <div class="row" id="depth-chart">
    <div class="col-xs-12">
      <h2>Season 2015-2016</h2>
    </div>
  </div>
  <div class="row" id="default-roster">
    <div class="add-to-roster" id="add-to-roster-one">
      {% include roster-card-sr-01-add.html %}
    </div>

    {% include roster-card-sr-01.html %}
    {% include roster-card-sr-02.html %}
    {% include roster-card-sr-03.html %}
    {% include roster-card-sr-04.html %}

    {% include roster-card-jr-01.html %}
    {% include roster-card-jr-02.html %}
    {% include roster-card-jr-03.html %}
    {% include roster-card-jr-04.html %}

    {% include roster-card-so-01.html %}
    {% include roster-card-so-02.html %}
    {% include roster-card-so-03.html %}
    {% include roster-card-so-04.html %}
    
    {% include roster-card-fr-01.html %}
    {% include roster-card-fr-02.html %}
    {% include roster-card-fr-03.html %}
    {% include roster-card-fr-04.html %}
  </div>

  <!-- Roster cards ALL -->
  <div class="row" id="filter-roster">
    <div class="add-to-roster" id="add-to-roster-one">
      {% include roster-card-sr-01-add.html %}
    </div>

    {% include roster-card-jr-01.html %}
    {% include roster-card-jr-02.html %}
    {% include roster-card-jr-03.html %}
    {% include roster-card-jr-04.html %}

    {% include roster-card-sr-01.html %}
    {% include roster-card-sr-02.html %}
    {% include roster-card-sr-03.html %}
    {% include roster-card-sr-04.html %}

    {% include roster-card-so-01.html %}
    {% include roster-card-so-02.html %}
    {% include roster-card-so-03.html %}
    {% include roster-card-so-04.html %}
    
    {% include roster-card-fr-01.html %}
    {% include roster-card-fr-02.html %}
    {% include roster-card-fr-03.html %}
    {% include roster-card-fr-04.html %}
  </div>

</div>

<!-- All modals -->
{% include modal-add-athlete.html %}
{% include modal-edit.html %}
{% include modal-disable.html %}
{% include modal-delete.html %}
  
