

<!-- Roster Card - SR -->

    <div class="col-md-4 col-sm-6">
      <div class="thumbnail">
        <div class="caption">
          <div class="depth-chart-position">
              LT
          </div>
          <ul class="depth-chart-list">
            <li>
              <span class="num">1</span> 
              <a href="#">
                <img src="images/profile-tim.png">
                <span class="label label-default sr">SR / #33</span> 
                <span class="name">Tim Riggins</span>
              </a>
            </li>
            <li>
              <span class="num">2</span>
              <a href="#">
                <img src="images/profile-matt.png">
                <span class="label label-default jr">JR / #7</span> 
                <span class="name">Matt Saracen</span>
              </a>
            </li>
            <li>
              <span class="num">3</span>
              <a href="#">
                <img src="images/profile-bri.png">
                <span class="label label-default jr">JR / #20</span> 
                <span class="name">Brian "Smash" Williams</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


  