

<!-- Filter options -->
<div class="filter-header hidden-xs">
  <div class="container-fluid">
      <div class="well">
        <div class="row">
          <div class="col-sm-8">
            <div class="filter-options">
              <p class="filter"></span>Filter by</p>
              <form class="form-inline">
                <div class="form-group">
                  <label class="sr-only" for="exampleInputName2">Seasons</label>
                  <select class="form-control" id="filter-seasons">
                    <option class="disabled" value="" disabled="disabled" selected="selected">Seasons</option>
                    <option>2016-2017</option>
                    <option>2015-2016</option>
                    <option>2014-2015</option>
                    <option>2013-2014</option>
                    <option>2012-2013</option>
                    <option>All Seasons</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="exampleInputName2">Depth Chart</label>
                  <a class="btn btn-default" href="/hudl/depth-chart.html" role="button">Depth Chart</a>
                </div>
                <!-- <div class="form-group">
                  <label class="sr-only" for="exampleInputEmail2">Graduation Year</label>
                  <select class="form-control">
                    <option class="disabled" value="" disabled="disabled" selected="selected">Graduation Year</option>
                    <option value=""></option>
                    <optgroup label="Current">
                      <option value="2016">2016 - SR</option>
                      <option value="2017">2017 - JR</option>
                      <option value="2018">2018 - SO</option>
                      <option value="2019">2019 - FR</option>
                      </optgroup>
                      <optgroup label="Incoming">
                          <option value="2020">2020</option>
                          <option value="2021">2021</option>
                      </optgroup>
                      <optgroup label="Alumni">
                          <option value="2015">2015</option>
                          <option value="2014">2014</option>
                      </optgroup>
                  </select>
                </div> -->
                <!-- <div class="form-group">
                  <label class="sr-only" for="exampleInputEmail2">Position</label>
                  <select class="form-control">
                    <option class="disabled" value="" disabled="disabled" selected="selected">Position</option>
                    <option>QB</option>
                    <option>RB</option>
                    <option>SB</option>
                    <option>FB</option>
                    <option>WR</option>
                    <option>TE</option>
                    <option>T</option>
                    <option>G</option>
                    <option>C</option>
                    <option>LS</option>
                    <option>DE</option>
                    <option>DT</option>
                    <option>NG</option>
                    <option>OLB</option>
                    <option>MLB</option>
                    <option>CB</option>
                    <option>FS</option>
                    <option>SS</option>
                    <option>K</option>
                    <option>P</option>
                  </select>
                </div> -->
              </form>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="search pull-right">
              <form class="form-inline">
                <div class="form-group">
                  <label class="sr-only" for="exampleInputName2">Search</label>
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
            </div>

          </div>
        </div>

      </div>
  </div>
</div>

<div class="well well-filter-options-sm  visible-xs-block">
  <div class="filter-buttons">
    <a class="btn btn-default filter-btn filter-first-btn" role="button" data-toggle="collapse" href="#search-sm" aria-expanded="false" aria-controls="collapseExample">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
    </a>

    <a class="btn btn-default filter-btn" role="button" data-toggle="collapse" href="#filter-sm" aria-expanded="false" aria-controls="collapseExample">
      <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter by
    </a>
  </div>

  <div class="collapse" id="search-sm">
    <div class="form-group">
      <label class="sr-only" for="exampleInputName2">Search</label>
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </div>

  <div class="collapse" id="filter-sm">
  
    <div class="form-group">
      <label class="sr-only" for="exampleInputName2">Name</label>
      <select class="form-control">
        <option class="disabled" value="" disabled="disabled" selected="selected">Seasons</option>
        <option>2016-2017</option>
        <option>2015-2016</option>
        <option>2014-2015</option>
        <option>2013-2014</option>
        <option>2012-2013</option>
        <option>All Seasons</option>
      </select>
    </div>

    <div class="form-group">
      <label class="sr-only" for="exampleInputName2">Depth Chart</label>
      <a class="btn btn-default depth-chart-btn" href="/depth-chart.html" role="button">Depth Chart</a>
    </div>

    <!-- <div class="form-group">
      <label class="sr-only" for="exampleInputEmail2">Graduation Year</label>
      <select class="form-control">
        <option class="disabled" value="" disabled="disabled" selected="selected">Graduation Year</option>
        <option value=""></option>
        <optgroup label="Current">
          <option value="2016">2016 - SR</option>
          <option value="2017">2017 - JR</option>
          <option value="2018">2018 - SO</option>
          <option value="2019">2019 - FR</option>
          </optgroup>
          <optgroup label="Incoming">
              <option value="2020">2020</option>
              <option value="2021">2021</option>
          </optgroup>
          <optgroup label="Alumni">
              <option value="2015">2015</option>
              <option value="2014">2014</option>
          </optgroup>
      </select>
    </div> -->

    <!-- <div class="form-group">
      <label class="sr-only" for="exampleInputEmail2">Position</label>
      <select class="form-control">
        <option class="disabled" value="" disabled="disabled" selected="selected">Position</option>
        <option>QB</option>
        <option>RB</option>
        <option>SB</option>
        <option>FB</option>
        <option>WR</option>
        <option>TE</option>
        <option>T</option>
        <option>G</option>
        <option>C</option>
        <option>LS</option>
        <option>DE</option>
        <option>DT</option>
        <option>NG</option>
        <option>OLB</option>
        <option>MLB</option>
        <option>CB</option>
        <option>FS</option>
        <option>SS</option>
        <option>K</option>
        <option>P</option>
      </select>
    </div> -->

      
  </div>
</div>





