<footer>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3">
			<h5>Navigation</h5>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Tutorials</a></li>
				<li><a href="#">Support</a></li>
				<li><a href="#">Youth</a></li>
				<li><a href="#">Pricing & Sign-up</a></li>
				<li><a href="#">Order a Hudl Remote</a></li>
			</ul>
		</div>
		<div class="col-sm-3">
			<h5>Legal Bits</h5>
			<ul>
				<li><a href="#">Hudl Privacy Policy</a></li>
				<li><a href="#">Terms & Conditions</a></li>
			</ul>
		</div>
		<div class="col-sm-3">
			<h5>Coonect</h5>
			<ul>
				<li><a href="#">Follow us on Twitter</a></li>
				<li><a href="#">Like us on Facebook</a></li>
				<li><a href="#">Visit Hudl on YouTube</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
		<div class="col-sm-3">
			<h5>In the Hudl Newsletter</h5>
			<form class="form-group">
	            <div class="form-group">
	              <label class="sr-only" for="exampleInputName2">Search</label>
	              <input type="text" class="form-control" placeholder="Email Address">
	            </div>
	            <button type="button" class="btn btn-primary">Subscribe</button>
          </form>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<p class="copyright">Hudl is a product and service of Agile Sports Technologies. All text and design is copyright © 2007-2015. All rights reserved.</p>
		</div>
	</div>
</div>

</footer>


<script type="text/javascript">
          $('.collapse').on('shown.bs.collapse', function(){
          $(this).parent().find(".glyphicon-chevron-down").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
          }).on('hidden.bs.collapse', function(){
          $(this).parent().find(".glyphicon-chevron-up").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
          });

          $(function () {
			  $('[data-toggle="popover"]').popover()
			})
</script>