<!-- Add Athlete - Modal -->
<div class="modal fade bs-example-modal-lg" id="modal-add-athlete-success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Success! The athlete has been added to the roster.</h4>
      </div>
      <div class="modal-body">
        <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Success! The athlete has been added to the roster.</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

