<!-- Add Athlete - Modal -->
<div class="modal fade bs-example-modal-lg" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Athlete</h4>
      </div>
      <div class="modal-body">
        
        <p>Use <b>Delete</b> if you want to permanently remove any tie from that player to your team.</p>

        <p>Use the <b>Disable</b> button, if you want the athlete to retain their team and player highlights but have no access to the team library.</p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Delete Player</button>
      </div>
    </div>
  </div>
</div>

