

<!-- Roster Card - SR -->
    <div class="col-md-3 col-sm-4">
      <div class="thumbnail">
        <div class="caption">
          <div class="profile-head jr">
            <div class="profile">
              <span class="badge">SR / 2016</span> 
              <div class="avatar">
                <img src="images/profile-tim.png">
              </div>
            </div>
            <div class="invite">
                <p class="athlete-info"><span class="number">33</span></p>
                <a class="btn btn-default pull-right" href="#" role="button">Invite</a>
            </div>
            <div class="name">
              <p><span class="badge">rb</span></p>
              <p><a href="#">Tim Riggins</a></p>
              <p class="name-email">tim.riggins@fridaynightlights.com</p>
            </div>

            <!-- Athletes vitals -->
            {% include vitals.html %}

            <div class="card-buttons">
              <ul>
                  <li>
                    <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                    </a>
                  </li>
                  <li>
                    <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Disable
                    </a>
                  </li>
                  <li>
                    <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                    </a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>