

<!-- Roster Card - SR -->
    <div class="col-md-3 col-sm-4">
      <div class="thumbnail">
        <div class="caption">
          <div class="profile-head profile-bg-four">
            <div class="yr-num-pos jr">
              <div class="yr">
                JR / 2017
              </div>
              <div class="num-pos">
                <span class="visible-xs-inline">#6 / </span>qb
              </div>
            </div>
            <div class="profile">
              <!-- <span class="badge jr">JR / 2017</span> -->
              <div class="avatar">
                <a href="#"><img src="images/profile-jason.png"></a>
              </div>
            </div>
            <div class="invite">
                <!-- <p><span class="badge"><span class="visible-xs-inline">#6 / </span>fb, rb</span></p> -->
                <p class="athlete-info hidden-xs"><span class="number">6</span></p>
                <!-- <a class="btn btn-default pull-right" href="#" role="button">Resend Invite</a> -->
                <a type="button" class="btn btn-default pull-right hidden-xs" 
                  data-container="body" 
                  data-html="true"
                  data-toggle="popover" 
                  data-placement="bottom" 
                  data-content="
                      <p>Today: <b>30m</b></p>
                      <p>Yesterday: <b>1h 30m</b></p>
                      <p>Last 7 days: <b>2h 45m</b></p>
                      <p>Last online: <b>30m ago</b></p>
                  ">
                  <span class="glyphicon glyphicon-film" aria-hidden="true"></span> Video Activity
                </a>
            </div>
            <div class="name">
              
              <p><a href="#">Jason Street</a></p>
              <p class="name-email">tim.riggins@fridaynightlights.com</p>
            </div>

            <!-- Vitals -->
<!-- <div class="hidden-xs"> -->
  <div class="vitals hidden-xs">
    <ul>
      <li><span class="table-title">ht</span>5-11</li>
      <li><span class="table-title">wt</span>220</li>
      <li><span class="table-title">exp</span>3yrs</li>
    </ul>
  </div>

  <!-- <div class="video-activity">
    <span class="activity-title">Video Activity</span>
    <ul>
      <li>Today<span class="time">30m</span></li>
      <li>Yesterday<span class="time">1h 30m</span></li>
      <li>Last 7 days<span class="time">2h 45m</span></li>
      <li>Last online<span class="time">30m ago</span></li>
    </ul>
  </div> -->
<!-- </div> -->

<div class="more-details visible-xs-block">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#jr-four">
            <span class="glyphicon glyphicon-chevron-down"></span>
            View more details
          </a>
        </h4>
      </div>
      <div id="jr-four" class="panel-collapse collapse">
        <div class="panel-body">

          <div class="invite">
              <a type="button" class="btn btn-default pull-right" 
                data-container="body" 
                data-html="true"
                data-toggle="popover" 
                data-placement="bottom" 
                data-content="
                    <p>Today: <b>30m</b></p>
                    <p>Yesterday: <b>1h 30m</b></p>
                    <p>Last 7 days: <b>2h 45m</b></p>
                    <p>Last online: <b>30m ago</b></p>
                ">
                <span class="glyphicon glyphicon-film" aria-hidden="true"></span> Video Activity
              </a>
          </div>

          <div class="vitals">
            <ul>
              <li><span class="table-title">ht</span>5-11</li>
              <li><span class="table-title">wt</span>220</li>
              <li><span class="table-title">exp</span>3yrs</li>
            </ul>
          </div>

          <!-- <div class="video-activity">
            <span class="activity-title">Video Activity</span>
            <ul>
              <li>Today<span class="time">30m</span></li>
              <li>Yesterday<span class="time">1h 30m</span></li>
              <li>Last 7 days<span class="time">2h 45m</span></li>
              <li>Last online<span class="time">30m ago</span></li>
            </ul>
          </div> -->

          <div class="card-buttons">
            <ul>
                <li>
                  <a role="button" href="#" data-toggle="modal" data-target="#modal-edit">
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                  </a>
                </li>
                <li>
                  <a role="button" data-toggle="modal" data-target="#modal-disable">
                  <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Disable
                  </a>
                </li>
                <li>
                  <a role="button" data-toggle="modal" data-target="#modal-delete">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                  </a>
                </li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

            <div class="card-buttons hidden-xs">
              <ul>
                  <li>
                    <a role="button" href="#" data-toggle="modal" data-target="#modal-edit">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                    </a>
                  </li>
                  <li>
                    <a role="button" data-toggle="modal" data-target="#modal-disable">
                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Disable
                    </a>
                  </li>
                  <li>
                    <a role="button" data-toggle="modal" data-target="#modal-delete">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                    </a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>