

<!-- Roster Card - SR -->
    <div class="col-md-3 col-sm-4">
      <div class="thumbnail">
        <div class="caption">
          <div class="profile-head profile-bg-one">
            <div class="profile">
              <span class="badge sr">SR / 2016</span>
              <div class="avatar">
                <a href="#"><img src="images/profile-tim.png"></a>
              </div>
            </div>
            <div class="invite">
                <p><span class="badge">fb, rb</span></p>
                <p class="athlete-info"><span class="number">33</span></p>
                <a class="btn btn-default pull-right" href="#" role="button">Resend Invite</a>
            </div>
            <div class="name">
              
              <p><a href="#">Tim Riggins</a></p>
              <p class="name-email">tim.riggins@fridaynightlights.com</p>
            </div>

            <div class="vitals">
              <ul>
                <li><span class="table-title">ht</span>5-11</li>
                <li><span class="table-title">wt</span>220</li>
                <li><span class="table-title">exp</span>3yrs</li>
              </ul>
            </div>

            <div class="video-activity">
              <span class="activity-title">Video Activity</span>
              <ul>
                <li>Today<span class="time">30m</span></li>
                <li>Yesterday<span class="time">1h 30m</span></li>
                <li>Last 7 days<span class="time">2h 45m</span></li>
                <li>Last online<span class="time">30m ago</span></li>
              </ul>
            </div>

            <!-- <div class="card-buttons">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default left" data-toggle="modal" data-target="#modal-edit">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                </button>

                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-disable">
                  <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Disable
                </button>

                <button type="button" class="btn btn-default right" data-toggle="modal" data-target="#modal-delete">  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                </button>
              </div>
            </div> -->

            <div class="card-buttons">
              <ul>
                  <li>
                    <a role="button" href="#" data-toggle="modal" data-target="#modal-edit">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                    </a>
                  </li>
                  <li>
                    <a role="button" data-toggle="modal" data-target="#modal-disable">
                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Disable
                    </a>
                  </li>
                  <li>
                    <a role="button" data-toggle="modal" data-target="#modal-delete">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                    </a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>