




/*
//////////////////////////////////////////////////////////

About

//////////////////////////////////////////////////////////
*/



/*#help section#map {
    background: url(/images/bkg_about_map.png) no-repeat right center;
    min-height: 500px;
    padding-top: 80px;
}*/
/*#help section#map p {
    font-size: 24px;
    color: #d7d3d1;
    max-width: 430px;
}*/
/*#help section#map p span {
    color: #f76170;
    font-weight: bold;
}
@media(max-width:767px) {
    #help section#map {
    background-size: contain;
    padding: 25px;
    min-height: 0;
}
#help section#map p {
    font-size: 18px;
}*/

#help section#cat .block {
    width: 33.333%;
    float: left;
    margin: 0 0 80px 0;
    /*background:pink;*/
}
#help section#cat .block img {
    display: block;
    margin: 0 auto;
    width:130px;
}
#help h2 {
    color: #ffffff;
    text-align: center;
    font-size: 48px;
}

#help section#cat h5 {
    color: #ffffff;
    text-align: center;
}

@media(max-width:980px) {
    #help section#cat .block {
        width: 50%;
        margin: 0 0 40px 0;
    }
}

@media(max-width:767px) {
    #help section#cat .block {
        width: 50%;
        margin: 0 0 20px 0;
    }
    #help section#cat .block img {
        width:80px;
    }
    #help section#cat h5 {
        font-size:14px;
    }
}














/*
//////////////////////////////////////////////////////////

Contact

//////////////////////////////////////////////////////////
*/






#contact .contact .icon {
    height: 22px;
}
#contact .contact .mail .icon {
    height: 16px;
}

#contact section#intro h1 {
    color: #fff;
    margin-bottom: 60px;
}
#contact section#intro h3 {
    color: #a28ca4;
    margin-bottom: 0;
}
#contact section#intro p {
    font-size: 24px;
    color: #d7d3d1;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#contact section#intro .btn {
    margin-top: 10px;
}
@media(max-width:767px) {
        #contact section#intro p {
        font-size: 20px;
    }
}

#contact section#in-touch {
    padding-top: 80px;
    padding-bottom: 80px;
}
#contact section#in-touch #map-canvas {
    float: right;
    width: 615px;
    height: 525px;
}
#contact section#in-touch #map-canvas img {
    max-width: none;
    height: auto;
}
#contact section#in-touch h3 {
    color: #a28ca4;
    margin-top: 0;
}
#contact section#in-touch h4 {
    color: #fff;
    font-size: 24px;
    margin-bottom: -10px;
}
#contact section#in-touch .email a {
    color: #219ab3;
}
@media(max-width:980px) {
        #contact section#in-touch #map-canvas {
        max-width: 400px;
    }
}

@media(max-width:767px) {
        #contact section#in-touch {
        padding: 0;
    }
    #contact section#in-touch #map-canvas {
        width: 100%;
        max-width: 100%;
        height: 175px;
    }
}

/*
//////////////////////////////////////////////////////////

Section intro

//////////////////////////////////////////////////////////
*/

section#intro {
    text-align: center;
    padding-top: 55px;
    padding-bottom: 80px;
}
section#intro h1 {
    color: #a28ca4;
    margin: 0;
}
section#intro p {
    font-size: 18px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
section#intro .btn {
    margin-top: 50px;
}
@media(max-width:767px) {
    section#intro {
    padding-top: 35px;
    padding-bottom: 35px;
}
section#intro p {
    text-align: left;
}
}






