




/*
//////////////////////////////////////////////////////////

About

//////////////////////////////////////////////////////////
*/



/*#help section#map {
    background: url(/images/bkg_about_map.png) no-repeat right center;
    min-height: 500px;
    padding-top: 80px;
}*/
/*#help section#map p {
    font-size: 24px;
    color: #d7d3d1;
    max-width: 430px;
}*/
/*#help section#map p span {
    color: #f76170;
    font-weight: bold;
}
@media(max-width:767px) {
    #help section#map {
    background-size: contain;
    padding: 25px;
    min-height: 0;
}
#help section#map p {
    font-size: 18px;
}*/

#help h2 {
    color: #ffffff;
    text-align: center;
    font-size: 72px;
}

#help h3 {
    color: #ffffff;
}

#help section#cat h5 {
    color: #ffffff;
    text-align: center;
}

#help section#common h5 {
    color: #ffffff;
    text-align: center;
}


#help section#cat .block {
    width: 29.333%;
    float: left;
    margin: 0 2% 80px 2%;
    min-height: 460px;
    /*background:pink;*/
}

#help section#cat .block ul {
    padding:0;
}

#help section#cat .block ul li {
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    padding:5px 0;
}


#help section#cat .block img {
    display: block;
    margin: 0 auto;
    width:130px;
}



#help .form-control {
    display: inline-block;
    width: 75%;
    /*height: 34px;*/
    padding: 14px 15px;
    margin:0 2% 0 0;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#help .stacked {
    display: block;
    width: 60%;
    /*height: 34px;*/
    padding: 14px 15px;
    margin:0 auto 20px auto;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

label {
    text-align: left;
    display: block;
    margin:0 auto;
    width:60%;
    padding:20px 20px 10px 17px;
}

@media(max-width:980px) {
    #help section#cat .block {
        width: 46%;
        margin: 0 2% 40px 2%;
    }
}

@media(max-width:767px) {
    #help h2 {
        font-size: 30px;
    }
    #help section#cat h5 {
        font-size:14px;
    }
    #help section#cat .block {
        float: left;
        width: 100%;
        min-height: 160px;
        margin: 0 0 80px 0;
        /*background: pink;*/
    }
    #help section#cat .block img {
        width:80px;
    }
    #help .form-control {
        width: 100%;
    }
    #help .stacked {
        display: block;
        width: 100%;
    }
    label {
        text-align: left;
        display: block;
        margin:0 auto;
        width:100%;
        padding:20px 20px 10px 17px;
    }
}


#help section#request-call, #help section#log-ticket {
    padding: 0 0 80px 0;
    float:left;
    width:50%;
}

#help section#request-call p, #help section#log-ticket p {
    padding: 0 80px;
}

@media(max-width:767px) {
    #help section#request-call, #help section#log-ticket {
        padding: 0 25px 80px 25px;
        width:100%;
    }
    #help section#request-call p, #help section#log-ticket p {
        padding: 0;
    }
}

/*
//////////////////////////////////////////////////////////

Section intro

//////////////////////////////////////////////////////////
*/

#help section#intro {
    text-align: center;
    padding-top: 55px;
    padding-bottom: 80px;
}
#help section#intro h1 {
    color: #a28ca4;
    margin: 0;
}
#help section#intro p {
    font-size: 18px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#help section#intro .btn {
    margin-top: 20px;
    color:#ffffff;
}
@media(max-width:767px) {
    section#intro {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    section#intro p {
        text-align: left;
    }
}












/*
//////////////////////////////////////////////////////////

Contact

//////////////////////////////////////////////////////////
*/






/*#contact .contact .icon {
    height: 22px;
}
#contact .contact .mail .icon {
    height: 16px;
}

#contact section#intro h1 {
    color: #fff;
    margin-bottom: 60px;
}
#contact section#intro h3 {
    color: #a28ca4;
    margin-bottom: 0;
}
#contact section#intro p {
    font-size: 24px;
    color: #d7d3d1;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#contact section#intro .btn {
    margin-top: 10px;
}
@media(max-width:767px) {
        #contact section#intro p {
        font-size: 20px;
    }
}

#contact section#in-touch {
    padding-top: 80px;
    padding-bottom: 80px;
}
#contact section#in-touch #map-canvas {
    float: right;
    width: 615px;
    height: 525px;
}
#contact section#in-touch #map-canvas img {
    max-width: none;
    height: auto;
}
#contact section#in-touch h3 {
    color: #a28ca4;
    margin-top: 0;
}
#contact section#in-touch h4 {
    color: #fff;
    font-size: 24px;
    margin-bottom: -10px;
}
#contact section#in-touch .email a {
    color: #219ab3;
}
@media(max-width:980px) {
        #contact section#in-touch #map-canvas {
        max-width: 400px;
    }
}

@media(max-width:767px) {
        #contact section#in-touch {
        padding: 0;
    }
    #contact section#in-touch #map-canvas {
        width: 100%;
        max-width: 100%;
        height: 175px;
    }
}*/

/*







