article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "calluna",serif;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  line-height: 26px;
  color: #545454;
  background-color: #ffffff; }

p {
  margin: 0;
  padding: 0 0 1em 0; }

h1 {
  font-size: 16px;
  line-height: 26px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 100;
  margin: 0 0 0 0; }
  @media (min-width: 700px) {
    h1 {
      font-size: 26px;
      line-height: 36px; } }

a {
  color: #545454;
  text-decoration: none;
  padding-bottom: 0.20em;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

a:hover {
  color: #aaaaaa; }

img {
  width: 100%; }

header[role='banner'], article[role='banner'], section[role='banner'], footer[role='banner'] {
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em 3em 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 700px) {
    header[role='banner'], article[role='banner'], section[role='banner'], footer[role='banner'] {
      margin: 0 auto;
      padding: 0 1em 6em 1em; } }
  header[role='banner'] .intro, article[role='banner'] .intro, section[role='banner'] .intro, footer[role='banner'] .intro {
    position: relative;
    text-align: center;
    z-index: 2;
    width: 100%;
    padding: 0 1em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

header[role='banner'] {
  padding: 8em 0 2em 0; }
  @media (min-width: 700px) {
    header[role='banner'] {
      padding: 12em 0 6em 0; } }
  header[role='banner'] main.logo {
    top: 3em;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    position: fixed;
    z-index: 1;
    text-align: center; }
    @media (min-width: 700px) {
      header[role='banner'] main.logo {
        top: 5em; } }
    header[role='banner'] main.logo img {
      width: 75px; }
      @media (min-width: 700px) {
        header[role='banner'] main.logo img {
          width: 100px; } }
  header[role='banner'] nav[role='navigation'] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    header[role='banner'] nav[role='navigation'] ul {
      position: relative;
      z-index: 2;
      display: block;
      overflow: hidden;
      text-align: center;
      color: #aaaaaa;
      margin: 0;
      padding: 1em 0;
      float: left;
      width: 100%; }
      header[role='banner'] nav[role='navigation'] ul li {
        list-style: none;
        display: inline;
        margin: 0;
        padding: 1em; }

section.thumb-projects {
  width: 100%;
  overflow: hidden;
  max-width: 2000px;
  position: relative;
  z-index: 100;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  section.thumb-projects a.thumb-project-link {
    width: 100%;
    float: left;
    background: #ffffff;
    border-bottom: none;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (min-width: 700px) {
      section.thumb-projects a.thumb-project-link {
        width: 50%;
        padding: 1em 0; } }
    section.thumb-projects a.thumb-project-link figure {
      margin: 0; }
    section.thumb-projects a.thumb-project-link img {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      z-index: 1;
      -webkit-transition: opacity 0.6s ease-out;
      -moz-transition: opacity 0.6s ease-out;
      -o-transition: opacity 0.6s ease-out;
      -ms-transition: opacity 0.6s ease-out;
      transition: opacity 0.6s ease-out; }
    section.thumb-projects a.thumb-project-link strong {
      display: block;
      font-size: 16px;
      line-height: 26px;
      font-style: normal;
      font-stretch: normal;
      font-weight: 700;
      z-index: 100;
      opacity: 0;
      margin: -2em 0 0 0;
      padding: 0 1em;
      position: relative;
      top: 2.8em;
      -webkit-transition: opacity 0.2s ease-out;
      -moz-transition: opacity 0.2s ease-out;
      -o-transition: opacity 0.2s ease-out;
      -ms-transition: opacity 0.2s ease-out;
      transition: opacity 0.2s ease-out, top 0.5s ease-out; }
      @media (min-width: 900px) {
        section.thumb-projects a.thumb-project-link strong {
          font-size: 24px;
          line-height: 32px;
          margin: -1.36em 0 0 0; } }
  section.thumb-projects a:hover img {
    opacity: 0.4;
    -webkit-filter: grayscale(1); }
  section.thumb-projects a:hover strong {
    opacity: 1;
    color: #545454;
    top: 2.5em; }

section.thumb-projects a:nth-child(odd) {
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 700px) {
    section.thumb-projects a:nth-child(odd) {
      padding-left: 2em;
      padding-right: 1em; } }

section.thumb-projects a:nth-child(even) {
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 700px) {
    section.thumb-projects a:nth-child(even) {
      padding-left: 1em;
      padding-right: 2em; } }

/* 
*****************************************************************************************
Project page
*****************************************************************************************
*/
.project-info {
  width: 100%;
  float: left;
  margin-left: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .project-info ul {
    margin: 0;
    padding: 0 0 3em 0; }
    .project-info ul li {
      list-style: none; }
  @media (min-width: 900px) {
    .project-info {
      width: 50%;
      margin-left: 0;
      padding: 0 1em 0 0; } }

.project-desc {
  width: 100%;
  float: left;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 900px) {
    .project-desc {
      width: 50%;
      padding: 0 0 3em 1em; } }

.project-content {
  width: 100%;
  float: left;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 900px) {
    .project-content {
      width: 50%;
      padding: 0 1em 3em 0; } }

.project-content-secondary {
  width: 100%;
  float: left;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 900px) {
    .project-content-secondary {
      width: 50%;
      padding: 0 0 3em 1em; } }

section.project {
  background: #b2dbdd;
  width: 100%;
  overflow: hidden;
  max-width: 2000px;
  margin: 0 auto; }
  section.project figure {
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    line-height: 0; }

footer[role='banner'] {
  padding: 3em 1em 10em 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  footer[role='banner'] p {
    width: 100%;
    float: left;
    margin: 0;
    padding: 1em 0 3em 0;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (min-width: 700px) {
      footer[role='banner'] p {
        width: 50%;
        padding: 0; } }
  footer[role='banner'] ul {
    display: block;
    color: #aaaaaa;
    margin: 1em 0 0 0;
    padding: 0;
    float: left;
    width: 100%; }
    @media (min-width: 700px) {
      footer[role='banner'] ul {
        width: 25%;
        margin: 0; } }
    footer[role='banner'] ul li {
      list-style: none;
      display: inline;
      margin: 0;
      padding: 0 0.25em; }
      @media (min-width: 700px) {
        footer[role='banner'] ul li {
          margin: 0 1em;
          display: block; } }
