article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media (max-width: 900px) {
  .visible-lg {
    display: none; } }
body {
  font-family: "ff-meta-web-pro",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  line-height: 26px;
  color: white;
  border: 0px solid transparent;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: white; }
  @media (min-width: 700px) {
    body {
      font-size: 18px;
      line-height: 28px;
      border: 6px solid white; } }
  @media (min-width: 900px) {
    body {
      border: 12px solid white; } }

body#home {
  background: #568a7e url(../img/bg-line.svg) repeat-x top; }

body#home a:hover {
  color: #99cc99;
  border-bottom: 1px solid #99cc99; }

body#home a:hover h1 {
  color: #99cc99;
  border: 6px solid #99cc99; }

body#work {
  background: #7b564e; }

body#about {
  background: #425454; }

body#home .work a:hover, body#work .work a:hover {
  color: white; }

p {
  margin: 0;
  padding: 0 0 0 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-style: normal;
  font-stretch: normal;
  font-weight: 600; }

h1 {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  color: #99cc99;
  text-transform: uppercase; }
  @media (min-width: 700px) {
    h1 {
      font-size: 18px;
      line-height: 28px;
      margin: 0.18em 0; } }

h2 {
  font-size: 34px;
  line-height: 44px;
  margin: 0; }

a {
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
  padding-bottom: 0.20em;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

a:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

img {
  width: 100%; }

header[role='banner'], article[role='banner'], section[role='banner'], footer[role='banner'] {
  overflow: hidden;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 4em 1em 1em 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 700px) {
    header[role='banner'], article[role='banner'], section[role='banner'], footer[role='banner'] {
      margin: 0 auto;
      padding: 7em 1em 1em 1em; } }

header[role='banner'] {
  padding: 12em 1em 1em 1em; }
  header[role='banner'] main.logo {
    position: relative;
    float: left;
    width: 20%;
    margin: 0; }
    @media (min-width: 900px) {
      header[role='banner'] main.logo {
        width: 30%; } }
    header[role='banner'] main.logo a h1 {
      font-size: 16px;
      line-height: 26px;
      color: white;
      letter-spacing: -2px;
      margin: -0.5em 0 0 0;
      padding: 0.3em 0.5em 0.4em 0.5em;
      float: left;
      text-transform: none;
      border: 6px solid white;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
      @media (min-width: 900px) {
        header[role='banner'] main.logo a h1 {
          background: transparent;
          font-size: 20px;
          line-height: 30px;
          padding: 0.4em 1em 0.5em 1em;
          letter-spacing: 0;
          font-weight: 600; } }
    header[role='banner'] main.logo a:hover h1 {
      color: rgba(255, 255, 255, 0.5);
      border: 6px solid rgba(255, 255, 255, 0.5); }
  header[role='banner'] nav[role='navigation'] ul {
    position: relative;
    font-size: 18px;
    line-height: 28px;
    float: left;
    width: 80%;
    margin: 0;
    padding: 0;
    text-align: right; }
    @media (min-width: 900px) {
      header[role='banner'] nav[role='navigation'] ul {
        width: 70%;
        font-size: 20px;
        line-height: 30px; } }
    header[role='banner'] nav[role='navigation'] ul li {
      list-style: none;
      color: rgba(255, 255, 255, 0.5);
      display: inline;
      margin: 0;
      padding: 0 0 0 1em; }

section.hello {
  width: 100%;
  margin-left: 0; }
  @media (min-width: 700px) {
    section.hello {
      width: 75%;
      margin-left: 25%; } }
  section.hello a {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400; }
  section.hello p {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    font-weight: 600; }
    @media (min-width: 700px) {
      section.hello p {
        font-size: 40px;
        line-height: 50px; } }

section.work p {
  padding-top: 3em; }
section.work ul {
  margin: 0;
  padding: 0; }
  section.work ul li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    section.work ul li a {
      padding: 0.25em 0;
      color: white;
      border-bottom: none; }
    section.work ul li h3 {
      font-size: 30px;
      line-height: 40px;
      margin: 0;
      padding: 0.25em 0; }
      @media (min-width: 700px) {
        section.work ul li h3 {
          font-size: 40px;
          line-height: 50px; } }
      @media (min-width: 900px) {
        section.work ul li h3 {
          font-size: 70px;
          line-height: 80px; } }
    @media (min-width: 900px) {
      section.work ul li a:hover.one,
      section.work ul li a:hover.two,
      section.work ul li a:hover.three,
      section.work ul li a:hover.four,
      section.work ul li a:hover.five,
      section.work ul li a:hover.six,
      section.work ul li a:hover.seven,
      section.work ul li a:hover.eight,
      section.work ul li a:hover.nine,
      section.work ul li a:hover.ten {
        padding: 0.25em 0 0.25em 0.25em; }
      section.work ul li a:hover.one {
        color: white;
        border-left: 10px solid #c879b2; }
      section.work ul li a:hover.two {
        color: white;
        border-left: 10px solid #70cac5; }
      section.work ul li a:hover.three {
        color: white;
        border-left: 10px solid #dc3b3b; }
      section.work ul li a:hover.four {
        color: white;
        border-left: 10px solid #f37224; }
      section.work ul li a:hover.five {
        color: white;
        border-left: 10px solid #339999; }
      section.work ul li a:hover.six {
        color: white;
        border-left: 10px solid green; }
      section.work ul li a:hover.seven {
        color: white;
        border-left: 10px solid yellow; }
      section.work ul li a:hover.eight {
        color: white;
        border-left: 10px solid brown; }
      section.work ul li a:hover.nine {
        color: white;
        border-left: 10px solid brown; }
      section.work ul li a:hover.ten {
        color: white;
        border-left: 10px solid brown; } }

footer[role='banner'] {
  width: 100%;
  margin: 4em auto 0 auto;
  padding: 4em 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 700px) {
    footer[role='banner'] {
      padding: 10em 1em; } }
  footer[role='banner'] p {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0 0 1em 0;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  footer[role='banner'] ul {
    display: block;
    color: inherit;
    margin: 1em 0 0 0;
    padding: 0;
    float: left;
    width: 100%; }
    @media (min-width: 700px) {
      footer[role='banner'] ul {
        width: 25%;
        margin: 0; } }
    footer[role='banner'] ul li {
      list-style: none;
      display: inline;
      margin: 0;
      padding: 0 0.25em; }
      @media (min-width: 700px) {
        footer[role='banner'] ul li {
          margin: 0 1em;
          display: block; } }
